{% extends "base.html" %}
{% block title %}Novo Cliente{% endblock %}

{% block content %}
    <h2>Cadastrar Novo Cliente</h2>

    <!-- O action chama a rota /clientes/novo -->
    <form method="POST" action="{{ url_for('clientes.novo_cliente') }}">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" required><br><br>

        <label for="email">Email:</label>
        <input type="email" name="email" required><br><br>

        <button type="submit">Salvar</button>
    </form>

    <a href="{{ url_for('clientes.listar_clientes') }}">Voltar para lista</a>
{% endblock %}
